<head>
    <title>FUNCIONÁRIOS</title>
    <script>
        
    </script>
</head>

<body>
    <div class="text-center lead text-primary mb-4" style="font-size: 35px;">Mostrando todos Funcionários</div>
    {{#each result}}
    <div class="ml-5">
        <div class="row mx-auto">
            <h3 class="lead mt-2 mr-auto " style="font-size: 25px;">ID: {{id}} </h3>
            <h3 class="lead mt-2 ml-auto mr-5" style="font-size: 25px;">Nome: {{nome}} </h3>
        </div>
        <div class="row mx-auto">
            <h3 class="lead mt-2 mr-auto" style="font-size: 20px;">ID Departamento: {{idDepart}} </h3>
            <h3 class="lead mt-2 ml-auto mr-5" style="font-size: 20px;">Departamento: {{nomeDepart}} </h3>
        </div>
        <h3 class="lead mt-2" style="font-size: 25px;">E-mail: {{email}} </h3>
        <h3 class="lead mt-2" style="font-size: 25px;">Telefone: {{telefone}} </h3>
        <h3 class="lead mt-2" style="font-size: 25px;">Acesso: {{acesso}} </h3>
    </div>

    <a href="/alterarFunc/{{id}}/{{nome}}/{{email}}/{{telefone}}/{{idDepart}}" class="text-decoration-none mt-3 row"> <input type="button" value="EDITAR"
            class="mx-auto col-10 btn btn-light"> </a>
    <!--linha-->
    <h1 class="mx-5 mt-3" style="border: 1px solid gray;"></h1>
    {{/each}}
    <div class="text-center mt-3"> <a href="/" style="font-size: 25px;">VOLTAR</a> </div>
</body>